.card {
    background: var(--color-secondary);
    color: var(--color-text);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    width: auto;
    height: 90vh;
    margin: 3vh 7vw;
    border-radius: 20px 20px 0 0;
    padding-top: 25px;
    gap: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    /* animation */
    animation-name: push;
    animation-duration: 2s;
    animation-delay: 0.5s;
    animation-fill-mode:forwards;
    opacity: 0;
}

